.signIn {
  display: flex;
  justify-content: center;
}
.signIn-background {
  background-image: url('https://images.unsplash.com/photo-1458053688450-eef5d21d43b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80');
  height:100vh;
}

.email {
  margin-left: 30px;
}

input {
  margin: 2px 0;
}

.signInSubmit {
  padding: 10px;
  border: 3px solid black;
  background: #6B6D76;
  opacity: .8;
  width:500px;
  flex-direction: column;
  margin-top: 20px;
}

.signInSubmit label {
  margin: 0 5%;
}

.signInSubmit input {
  height: 30px;
  width: 57%;
}

.submitAccountBtn {
  height: 30px;
  background-color: #000;
  color: white;
  margin: 10px;
  margin-left: 120px;
  font-size: 20px;
}

.createAccountLink {
  margin-left: 120px;
}

.createAccountLink:hover {
  color:#8B0000;
}

.error-message {
  display: inline;
  color: #8B0000;
  text-align: center;
}

