.App {
  background:linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8));
  min-height: 100vh;
}

.header {
  text-align: center;
  background-color:  #484F51
}

.siteTitle {
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  margin: 2% 0;
}

.searchInput {
  height: 25px;
  width: 25%;
  border: 6px solid #000;
  padding: 1%;
}