.App {
  background-color: #f00;
}

.header {
  text-align: center;
}

.siteTitle {
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  margin: 2% 0;
}

.searchInput {
  height: 25px;
  width: 25%;
  border: 6px solid #000;
  padding: 1%;
}